* {
    margin: 0;
    padding: 0;
}


body {
    background: #1D1C21;
}

.container {
    max-width: 1134px;
    width: 80%;
    margin: auto;
}

h2 {
    font-family: Playfair Display SC;
    font-style: normal;
    font-weight: 900;
    font-size: 61px;
    line-height: 81px;
    color: #89898B;
}

h3 {
    font-family: Playfair Display SC;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #F6F6F6;
}

.color_red {
    color: #FF0E0E;
}

.btn_more {
    display: flex;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    cursor: pointer;
}

.btn_more img {
    padding-left: 7.27px;
    width: 11.45px;
    height: 11.45px;
}

header {
    background-image: linear-gradient(269.85deg, rgba(35, 32, 32, 0.9) 21.28%, rgba(58, 58, 58, 0.27) 96.11%), url('../img/header_backgmgfgnfgn.png');
    background-repeat: no-repeat;
    padding-bottom: 105px;
    background-size: cover;
}

.header_nav {
    padding-top: 29px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #89898B;
}

.header_nav a {
    padding: 10px 0;
}

.header_section {
    display: flex;
    justify-content: space-between;
    padding-top: 20.75px;
}

.header_section_logo {
    position: relative;
}

.header_section_logo img {
    position: absolute;
    left: -20px;
    top: -10.75px;
}

.header_section_social {
    display: flex;
    flex-direction: column;
}

.header_section_social a {
    padding-bottom: 21px;
}

.header_contact {
    text-align: center;
    color: #fff;
}

.header_contact p {
    font-family: Playfair Display SC;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.header_contact_button {
    display: flex;
    color: #D8D8D9;
    border: 2px solid;
    margin: auto;
    width: 180px;
    margin-top: 58px;
    cursor: pointer;
}

.header_contact_button p {
    padding: 15px 12px 14px 24px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.header_contact_button p:nth-child(2) {
    padding: 4px 26px 4px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.artists {
    padding-top: 80px;
    padding-bottom: 130px;
}

.artist_block {
    display: flex;
    justify-content: space-between;
    color: #F6F6F6;
    padding-top: 24px;
}

.artist_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.award_main {
    background: url("../img/avard_back.png"), no-repeat;
    background-size: cover;
    background-color: #C4C4C4;
}

.awards {
    display: flex;
    justify-content: space-between;
    padding: 155px 0 149px;
}

.award {
    display: flex;
}

.award_img {
    width: 80px;
    height: 80px;
}

.award_text {
    padding: 7px 0 0 15px;
}

.award_text h3 {
    padding-bottom: 8px;
}

.award_text p {
    padding-bottom: 4px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
}

.featured {
    padding: 80px 0 170px
}

.featured_title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 21px;
}

.featured h3 {
    color: #F6F6F6;
    padding-bottom: 48px;
}

.featured_work {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.featured_work_img {
    display: flex;
    justify-content: space-between;
}

.featured_work_left {
    width: 49%;
}

.featured_work_right {
    width: 49%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
