* {
    margin: 0;
    padding: 0;
}


body {
    background: #1D1C21;
}

.container {
    max-width: 1134px;
    width: 90%;
    margin: auto;
}

h2 {
    font-family: Playfair Display SC;
    font-style: normal;
    font-weight: 900;
    font-size: 61px;
    line-height: 81px;
    color: #89898B;
}

h3 {
    font-family: Playfair Display SC;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #F6F6F6;
    transition: 0.3s;
}

a:hover {
    color: #FF0E0E;
}

.reverse {
    flex-direction: row-reverse;
}

.color_red {
    color: #FF0E0E;
}

.btn_more {
    display: flex;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    cursor: pointer;
    transition: 0.3s;
}

.btn_more:hover {
    color: #FF0E0E;
}

.btn_more img {
    padding-left: 7.27px;
    width: 11.45px;
    height: 11.45px;
}

header {
    background-image: linear-gradient(269.85deg, rgba(35, 32, 32, 0.9) 21.28%, rgba(58, 58, 58, 0.27) 96.11%), url('../img/header_backgmgfgnfgn.png');
    background-repeat: no-repeat;
    padding-bottom: 105px;
    background-size: cover;
}

.header_nav {
    padding-top: 29px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #89898B;
}

.header_nav a {
    padding: 10px 0;
}

.header_section {
    display: flex;
    justify-content: space-between;
    padding-top: 20.75px;
}

.header_section_logo {
    position: relative;
}

.header_section_logo img {
    position: absolute;
    left: -20px;
    top: -10.75px;
}

.header_section_social {
    display: flex;
    flex-direction: column;
}

.header_section_social a {
    padding-bottom: 21px;
}

.header_contact {
    text-align: center;
    color: #fff;
}

.header_contact p {
    font-family: Playfair Display SC;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    padding-bottom: 58px;
}

.contact_button {
    display: flex;
    color: #D8D8D9;
    border: 2px solid;
    margin: auto;
    width: 180px;
    cursor: pointer;
    transition: 0.3s;
}

.contact_button:hover {
    color: #FF0E0E;
}

.contact_button p {
    padding: 15px 12px 14px 24px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.contact_button p:nth-child(2) {
    padding: 4px 26px 4px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.artists {
    padding-top: 80px;
    padding-bottom: 130px;
}

.artist_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #F6F6F6;
    padding-top: 24px;
}

.artist_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.award_main {
    background: url("../img/avard_back.png"), no-repeat;
    background-size: cover;
    background-color: #C4C4C4;
}

.awards {
    display: flex;
    justify-content: space-between;
    padding: 155px 0 149px;
}

.award {
    display: flex;
}

.award_img {
    width: 80px;
    height: 80px;
}

.award_text {
    padding: 7px 0 0 15px;
}

.award_text h3 {
    padding-bottom: 8px;
}

.award_text p {
    padding-bottom: 4px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
}

.featured {
    padding: 80px 0 170px
}

.featured_title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 21px;
}

.featured h3 {
    color: #F6F6F6;
    padding-bottom: 48px;
}

.featured_work {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.featured_work_img {
    display: flex;
    justify-content: space-between;
}

.featured_work_left {
    width: 49%;
}

.featured_work_right {
    width: 49%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about_main {
    background: #C4C4C4 url("../img/background_about.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #1D1C21;
}

.about_main p {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
}

.about {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.about_text {
    width: 39%;
    padding: 80px 0 87px;
}

.about img {
    position: absolute;
    right: 0;
    top: -14px;
}

.about h2 {
    padding-bottom: 20px;
}

.inst_h2 {
    padding: 80px 0 24px;
}

.inst_collection_wrap {
    display: flex;
    justify-content: space-between;
}

.inst_collection_wrap img {
    padding: 4px;
}

.inst_collection_images {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.inst_collection_images_all {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    display: none;
}

.inst_collection_images_all img {
    padding: 4px;
    width: 230px;
    height: 230px;
}

.inst_show {
    display: flex;
    justify-content: center;
    padding: 30px 0 80px;
}

.contact {
    margin: auto;
    text-align: center;
    color: #F6F6F6;
}

.contact h3 {
    padding-bottom: 20px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    padding-bottom: 80px;
}

.contact_upload {
    display: flex;
    padding: 5px 0 40px;
    justify-content: space-between;
}

input, select, textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #89898B;
    margin-bottom: 27px;
    padding: 6px 0 9px 20px ;
    color: #F6F6F6;
    outline: none;
}

select, input::placeholder, textarea::placeholder {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #36353D;
}

label {
    padding-bottom: 6px;
}

option {
    background-color: #1f1f1f;
    border: 1px solid #89898B;
}

textarea {
    min-height: 90px;
}

.contact_upload_button {
    display: flex;
    cursor: pointer;
}

.contact_upload_button img {
    padding-left: 5px;
}

.contact_map {
    background: #C4C4C4;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.contact_map_info {
    width: 27%;
    padding-top: 30px;
    margin: 0 auto;
}

.contact_map_info h3 {
    font-family: Playfair Display SC;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
    text-transform: lowercase;
    color: #1D1C21;
}

.contact_map_info p {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #1D1C21;
    padding: 2px 0 10px;
}

.contact_map_info_social {
    display: flex;
    padding: 5.65px 0 30.67px;
}

.contact_map_info_social img {
    padding-right: 27.25px;
}

.contact_map_googleMap {
    width: 60%;
}

footer {
    padding: 80px 0 0;
}

.footer_nav {
    padding: 20px 0 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #89898B;
    border-top: 1px solid #89898B;
}

.footer_adress {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 7px;
}

.footer_adress p {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #89898B;
}

.footer_social img {
    padding-left: 29.94px;
}

@media (max-width: 1270px) {

    .inst_collection_wrap {
        display: none;
    }

    .inst_collection_images_all {
        display: flex;
    }
}

@media (max-width: 1200px) {

    .about img {
        position: relative;
        width: 50%;
        top: 0;
    }

    .contact_form {
        width: 60%;
    }

    .artist {
        padding: 15px;
    }

    .artist_block {
        justify-content: space-around;
    }

    .featured_work_img img {
        width: 50%;
    }

    .featured_work_right img {
        width: 50%;
    }

}

@media (max-width: 900px) {

    .header_nav {
        flex-wrap: wrap;
    }

    .header_nav a {
        padding: 10px 10px;
    }

    .footer_nav {
        flex-wrap: wrap;
    }

    .footer_nav a {
        padding: 10px 10px;
    }

    .about {
        flex-direction: column;
        justify-content: center;
    }

    .about_text {
        width: 100%;
    }

    .about img {
        width: 100%;
        padding-bottom: 80px;
    }

    .contact_form {
        width: 80%;
    }
}

@media (max-width: 700px) {

    .featured_work {
        flex-direction: column;
    }

    .featured_work_left {
        width: 100%;
    }

    .featured_work_left img {
        padding: 10px;
    }

    .featured_work_right {
        width: 100%;
    }

    .featured_work_right img {
        padding: 10px;
    }

    .awards {
        flex-direction: column;
    }

    .award {
        margin: auto;
        padding-bottom: 20px;
    }

    .featured_title {
        align-items: center;
        flex-direction: column;
    }

    .featured h3 {
        text-align: center;
    }
}

@media (max-width: 600px) {

    .contact_map {
        flex-direction: column;
    }

    .contact_map_info {
        width: 80%;
    }

    .contact_map_googleMap {
        width: 100%;
        height: 500px;
    }
}

@media (max-width: 528px) {

    .inst_collection_images_all img {
        width: 100%;
        height: auto;
    }

    .inst_collection_images_all img:nth-child(even) {
        display: none;
    }
}

@media (max-width: 500px) {

    .featured_work_img, .featured_work_right {
        flex-direction: column;
    }

    .featured_work_left img {
        width: 90%;
        margin: auto;
    }

    .featured_work_right img {
        width: 90%;
        margin: auto;
    }

}

@media (max-width: 450px) {

    .contact_upload{
        flex-direction: column;
        margin: auto;
    }

    .contact_upload_button {
        padding: 15px;
    }

}